    <html>
    <head>
      <meta charset=utf-8 />
      <title> {% if page.title %} {{ page.title }} | {% endif %} Open Connectome Project </title>
      <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body class="home page page-id-7 page-template page-template-default">
      <div id="main">

        <header>
			<div id="header-container">	
			<div id="header">	
				<div id="site-logo">
					<a href=../"><img src="../img/logo.png"/></a>
				</div>
			</div>
			</div>		
        </header>

        <nav role="navigation">
		 <div id="sidebar">
			<div id="navigation">
			<div class="menu-primary-navigation-container">
				<ul id="menu-primary-navigation" class="menu"><li id="menu-item-576" class="menu-item-first menu-item menu-item-type-post_type menu-item-object-page menu-item-576"><a href="../mission/">Mission</a></li>
					<li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="../services/">Services</a></li>
					<li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="../people/">People</a></li>
					<li id="menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-578"><a href="../references/">References</a></li>
					<li id="menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-577"><a href="../connect/">Connect</a></li>
					<li id="menu-item-581" class="menu-item-last menu-item menu-item-type-post_type menu-item-object-page menu-item-581"><a href="../links/">Links</a></li>
				</ul>
			</div>	
			</div>	
		</div><!--#sidebar-->
		
        </nav>
		
		<table class="aligncenter" border="1">
			<tbody>
				<tr>
					<td>
						{{ content }}
					</td>
				</tr>
			</tbody>
		</table>

        <footer>
			 <div id="footer-container">
				<div id="footer">
				footer
				</div>
			</div><!-- close #container -->
        </footer>

      </div>
      </body>
    </html>
